@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Noto+Sans+TC:wght@100..900&family=Noto+Serif+TC&display=swap');
body{
    font-family: Arial, 'Noto Serif TC', sans-serif;
    font-size: 14pt;
    padding-top: 60px;
}
.navbar{
    padding: 0px;
    background-color: #000000;
}
.nav-link{
    color: #fff !important;
    font-weight: bolder;
    font-size: 1.5vw;
}
.dropdown-item{
    color: #337ab7 !important;
    font-size: 1.5vw;
}
.dropdown .dropdown-item:hover,
.dropdown .dropdown-item:focus{
    color: #fff !important;
    background-color: #337ab7;
}
#content{
    margin-top: 10px;
    background-color: #000000;
}
.row .col-md-2 .sidebar,.accordion-button{
    border: 2px solid #dfdfdf;
    background-color: #f7f7f7;
}
.sidebar{
    padding: 5px;
}
.accordion-button{
    font-size: 1.5vw;
}
.accordion-button table td:hover{
    background-color: antiquewhite;
}
.accordion-body{
    padding: 0px;
}
.table{
    margin-bottom: 0px;
}
.table td{
    border-top: none;
    border-bottom: 1px solid #dee2e6;
    padding-top: 2rem;
    font-size: 0.8vw;
}
td>em{
    margin-right: 5px;
}
#aboutme{
    background-color: #31384a;
    color: #ffffff;
    padding-top: 30px;
    padding-bottom: 30px;
}
#last-data{
    height: 100px;
    background-color: #B4B4B4;
    padding-top: 10px;
}